{% extends 'base.html.twig' %}

{% block title %}TpaUsers{% endblock %}

{% block body %}
    <h1>TpaUsers</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tpa_user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ tpa_user.email }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ tpa_user.lastname }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ tpa_user.firstname }}</td>
            </tr>
            <tr>
                <th>UserPassword</th>
                <td>{{ tpa_user.userPassword }}</td>
            </tr>
            <tr>
                <th>UserCreateAt</th>
                <td>{{ tpa_user.userCreateAt ? tpa_user.userCreateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_api_users_index') }}">back to list</a>

    <a href="{{ path('app_api_users_edit', {'id': tpa_user.id}) }}">edit</a>

    {{ include('api_users/_delete_form.html.twig') }}
{% endblock %}
